body{
    left: 0;
    top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    /* background: linear-gradient( rgb(255, 255, 255), rgb(144, 224, 148)) fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background: url(img/fon-1.jpg) fixed;
    background-repeat: no-repeat;
    background-size: 60% 90%;
    background-position: center center;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

.line{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-left: 300px;
}

.line-break{
    width: 100%;
}
.inl{
    display: inline;
}

.header__fond{
    width: 100px;
    height: 100px;
    background-image: url(img/fon-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 55%;

}
.header__title{
    font-weight: 700;
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.main{
    margin-top: 10px;
    margin-bottom: 50px;
}
.main__title{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
   display: inline-block;
   
}
.zap{
    display: inline;
}
.main__disck{
    opacity: 0.8;
    font-size: 15px;
}
.main__den{
    font-size: 33px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 20px;
}
.main__card{
    /* margin-right: 90px; */
    margin-bottom: 50px;

}
.main__cardzone{
    margin-top: 50px ;
}
.card-img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    
}
.hover-color:hover{
    color: rgb(187, 13, 13);
    transition: 0.1s ease-in-out;
    
}

.card-img:hover{
    width: 240px;
    height: 240px;
    
}
.card-img:focus{
    width: 240px;
    height: 240px;
    
}
.card__title{
    font-size: 17px;
}
.img-bef{
    box-shadow: 20px black;
}
/* .np{
    margin-right: 0;
} */
/* footer */
.footer {

    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer__space-1 {

}
.footer__web{
    display: flex;

}
.footer__block {
}
.footer__text {
    line-height: 25.2px;
    opacity: 0.7;
    display: inline;
}
.footer__space-2 {
    display: flex;
}
.footer__block:not(:last-child) {
    margin-right: 189px;
}
.none{
    text-decoration:solid;
    border-bottom: 1px solid black;
}

@media(max-width: 999px){
    .main__title{
        font-size: 57px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        display: flex;
       
    }

}

.img-bef::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background: linear-gradient(rgba(255,255,255), rgba(255,255,255) );
}